body{
    font-style: normal;
    background-color: #f5f5f5;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    justify-content: center;
    text-align: center;
}
nav{
    position: sticky;
    top: 0;
    gap: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    box-sizing: border-box;
    background-color: #ffffff;
}
nav :hover{
    background:teal;
}
#border{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 12px;
}
.content{
    overflow: hidden;
    padding: 0 20px;
}
#pix{
    padding: 0 20px;
    border-radius: 100%;
    margin-top: 20px;
}
.aboutMe{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.no-underline{
    color: black;
    text-decoration: none;
}

#just, .in{
    color: teal;
}
.about{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}
.what{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}
.whatido{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#flexBox{
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}
.boxContainer{
    text-align: center;
    text-decoration: none;
    font-size: large;
}
.whatido :hover{
    transition: 1s;
    background: linear-gradient(to bottom, transparent 50%, teal 50%);
    background-size: 100% 200%;
    background-position: 0% 100%;
}
#myPhoto{
    display: block;
    margin: 40px auto;
}
#skill{
    text-align: center;
    color: teal;
    margin-top: 40px;
}
.skillz{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#programming{
    border: 2px solid;
    padding-left: 10px;
    border-radius: 10px;
    width: 600px;
    height: 20px;
    font-weight: bold;
}
.skillz :hover{
    transition: 1s;
    background: linear-gradient(to right, transparent 50%, teal 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
}
.experience{
    margin-top: 40px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#exp{
    border: 2px solid;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}
.experience :hover{
    transition: 1s;
    background: linear-gradient(to right, transparent 50%, teal 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}
.social{
    color: teal;
    text-align: center;
}
.soc{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
#icon{
    color: black;
}
.skillsIOffer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.skillsIOffer :hover{
    transition: 1s;
    background: linear-gradient(to right, transparent 50%, teal 50%);
    background-size: 200% 100%;
    background-position: -100% 0;
}
#arrow{
    position: fixed;
    bottom: 0;   
    right: 0; 
    padding: 15px;
}